[submodule "raytracer/vendor/glm"]
	path = raytracer/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "raytracer/vendor/tinyobjloader"]
	path = raytracer/vendor/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
